# Build directories
build/
build-*/
cmake/
**/bin/
install/
**/include/ninja/recon
**/lib/ninja/recon

# Compiled binaries and object files
*.o
*.so
*.a
*.out
*.exe

# ROOT files and binary data
*.root
*.dat

# Keep default FROST reconstruction map files under version control
!ReconTool/mapfunc/
!ReconTool/mapfunc/mapfunc_singlehit_4.5.root
!ReconTool/mapfunc/mapfunc_twohit_4.5.root

# Temporary files and caches
*.pyc
*.log
*.tmp
*.swp

# macOS metadata files
.DS_Store
