# ビルドディレクトリ（CMakeやMakefile）
build/
build-*/
cmake/
install/

# コンパイル済みバイナリやオブジェクトファイル
*.o
*.so
*.a
*.out
*.exe

# ROOTファイルやバイナリデータ
*.root
*.dat

# 一時ファイルやキャッシュ
*.pyc
*.log
*.tmp
*.swp
.DS_Store  # macOSの不要ファイル
